@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,800;0,900;1,100;1,200;1,400;1,800;1,900&display=swap');

@font-face {
    font-family: OptimusPrinceps;
    src: url(./lib/fonts/OptimusPrincepsSemiBold.ttf);
}

:root {
    --main-color: rgb(0, 193, 207);
    --secondary-color: rgb(221, 221, 221);
    --header-color: rgb(48, 38, 59);
    --empty-bar-color: rgb(44, 43, 43);
    --mana-bar-color: rgb(0, 108, 248);
    --button-down-color: rgba(102, 173, 214, 0.705);
}

body {
    background-color: rgb(53, 53, 53);
    min-height: 101vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* <<< AMMO COUNTER >>> */

/* <<< MANA COUNTER >>>  */

/* <<< DESC >>> */
