@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,800;0,900;1,100;1,200;1,400;1,800;1,900&display=swap');

@font-face {
    font-family: OptimusPrinceps;
    src: url(./lib/fonts/OptimusPrincepsSemiBold.ttf);
}

:root {
    --main-color: rgb(0, 193, 207);
    --secondary-color: rgb(221, 221, 221);
    --header-color: rgb(48, 38, 59);
    --empty-bar-color: rgb(44, 43, 43);
    --mana-bar-color: rgb(0, 108, 248);
    --button-down-color: rgba(102, 173, 214, 0.705);
}


body {
    background-color: rgb(53, 53, 53);
    min-height: 101vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* <<<<<< HEADER >>>>>> */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: 1s;
}

header.sticky {
    height: 80px;
    background-color: var(--header-color);
}

/* <<< Logo Image >>> */
.logo-image {
    position: absolute;
    width: 28vw;
    height: 55vh;
    transition: 1s;
}

header .logo-image {
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
}

header.sticky .logo-image {
    top: -500px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

/* <<< Logo(Alune) Text >>>  */
header .logo-text {
    position: absolute;
    font-family: OptimusPrinceps, sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15vh;
    font-weight: 900;
    color: var(--main-color);
    text-decoration: none;
    transition: 1s;
    z-index: 1;
}

header.sticky .logo-text {
    position: absolute;
    font-size: 3em;
    left: 30px;
    transform: translateY(-50%);
}

/* <<< Desc >>>  */
header .sub-title {
    position: absolute;
    color: var(--secondary-color);
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4vh;
    transition: 0.45s;
    transition-delay: 0s;
    z-index: 2;
}

header.sticky .sub-title {
    font-size: 2.4em;
    position: absolute;
    top: 10px;
    transition: 1s;
    transition-delay: 0.25s;
}

/* <<< Nav-bar >>>  */
nav {
    position: relative;
    display: flex;
    z-index: 1;
}

nav ul {
    position: relative;
    display: flex;
    transform: translateX(200px);
    opacity: 0;
    transition: 1s;
}

header.sticky nav ul {
    transform: translateX(0);
    transition-delay: 0.8s;
    opacity: 1;
}

header nav ul li {
    list-style: none;
}

header nav ul li p {
    color: var(--secondary-color);
    display: inline-block;
    padding: 10px 15px;
    font-size: 1.2em;
    text-decoration: none;
}

header nav ul li p:hover {
    color: var(--main-color);
}

/* <<<<<< MAIN >>>>>> */
main {
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
}

main.visible{
    opacity: 1;
    transition: 0.5s;
    transition-delay: 0.2s;
}

/* <<< WEAPON QUEUE >>>  */
main div#weapon-queue {
    position: absolute;
    width: 276px;
    height: 70px;
    top: 100%;
    left: 50%;
    transform: translateX(-65%);
    transition: 1s;
}

main.visible div#weapon-queue {
    position: absolute;
    top: 25vh;
    left: 50%;
    transform: translateX(-65%);
}

main div#weapon-queue button {
    width: 63px;
    height: 63px;
    padding: 3px;
    border: none;
    border-radius: 50%;
    transition: 0.5s;
    background: transparent;
    cursor: pointer;
}

.pos1 {
    position: absolute;
    left: 10px;
}

.pos2 {
    position: absolute;
    left: 75px;
}

.pos3 {
    position: absolute;
    left: 140px;
}

.pos4 {
    position: absolute;
    left: 205px;
}

.pos5 {
    position: absolute;
    left: 270px;
    z-index: 1;
}

.pos6 {
    z-index: 2;
}

/* <<< MAIN HUD >>> */
div#hud {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: 1s;
}

main div#hud {
    bottom: -20%;
}

main.visible div#hud {
    bottom: 2%;
}

/* << BUTTONS >>  */
main div#hud button {
    background-color: transparent;
    border-style: none;
    cursor: pointer;
    border-radius: 50%;
    font-size: 0.7em;
}

main div#hud button:active {
    background-color: var(--button-down-color);
}

main div#hud div#hud-buttons {
    position: relative;
    width: 50%;
    height: 5vh;
    left: 50%;
    transform: translateX(-50%);
}

.reset-button {
    background-image: url(/images/reset.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

/* << RESET-ALL BUTTON >> */
main div#hud div#hud-buttons button:not(#reset-all) {
    position: relative;
    width: 3.125vw;
    height: 5vh;
}

/* << CURRENT MANABAR >> */
main div#hud div#manabar-current {
    background-color: var(--empty-bar-color);
    width: 30vw;
    height: 3vh;
    margin: 5px;
    border-style: solid;
    border-width: 2px;
}

main div#hud button#reset-manabar {
    position: relative;
    width: 30px;
    height: 30px;
    left: 28.2vw;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 3px;
    padding: 0;
}

/* << CDR BOX >>  */
main div#hud input#cdr {
    width: 3vw;
}


/* <<< AMMO COUNTER >>> */

/* <<< MANA COUNTER >>>  */

/* <<< DESC >>> */